#sidenav-main {
    // background: lightskyblue !important;
    background: #1a2b36 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}