/* You can add global styles to this file, and also import other style files */

.footer .copyright {
    display: none !important;
}


/*.bg-gradient-danger {
    background: linear-gradient(
87deg, #f5365c 0, #f56036 100%) !important;
}*/

.bg-gradient-danger {
    background: linear-gradient( 87deg, red 0, yellow 100%) !important;
}