/* You can add global styles to this file, and also import other style files */

.footer .copyright {
    display: none !important;
}

.main-content .navbar-top {
    display: none;
}

.navbar-vertical .navbar-brand-img,
.navbar-vertical .navbar-brand>img {
    display: none;
}

.table thead th {
    font-size: 0.85rem !important;
}

.modal-content {
    width: 65% !important;
    height: 280px !important;
    left: 200px;
    background-color: #f7fafc!important;
    padding-left: 40px;
    border-radius: 0rem !important;
}

form input {
    display: flex;
    margin-left: 35px;
}

.modal-header {
    padding: 1.1rem;
}