/* You can add global styles to this file, and also import other style files */

.footer .copyright {
    display: none !important;
}

.main-content .navbar-top {
    display: none;
}

.navbar-vertical .navbar-brand-img,
.navbar-vertical .navbar-brand>img {
    display: none;
}

.table thead th {
    font-size: 0.85rem !important;
}

.modal-content {
    width: 90% !important;
    height: 473px !important;
    left: 120px;
    background-color: #f7fafc!important;
    padding-left: 40px;
    border-radius: 0rem !important;
}

form input {
    display: flex;
    margin-left: 35px;
}

.modal-header {
    padding: 1.1rem;
}

.header.bg-gradient-danger {
    // background-color: #55BBc9 !important;
    // background: linear-gradient( 87deg, #55BBc9 0, #CAFAFE 100%) !important;
    //background: linear-gradient( 87deg, #4E4E50 0, #4E4F57 100%) !important;
    //background: linear-gradient( 87deg, #7048ba 0, #723653 100%) !important;
    background: linear-gradient( 87deg, #296291 0, #2e8fc7 100%) !important;
}