.main-content .container-fluid,
.main-content .container-sm,
.main-content .container-md,
.main-content .container-lg,
.main-content .container-xl {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.row {
    flex-wrap: unset;
    width: 82%;
}

.text-muted {
    font-size: 12px;
    width: 106px;
    color: black !important;
}

a {
    color: black;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.card {
    height: 66px;
    background-color: #e4ebef;
    // background-color: #788287;
}

.alg {
    display: flex;
    /* background: lightblue;*/
    justify-content: space-between;
    width: 65%;
    height: 120px;
    /*margin: auto;*/
    margin-left: 55px;
}

#card-alg {
    top: 20px;
    width: 200px;
}

#tp-alg {
    margin-top: -4rem !important;
}

#card-header-alg {
    padding: 4rem 1.5rem;
    // background-color: #5e72e4;
    // background-color: #42479e;
    // background-color: #296291;
    //background-color: rgb(42, 42, 99);
    //background-color: #7aa3e4;
    //background: rgb(182, 172, 172);
    //background-color: #172b4d;
    //background-color: #2f4f6c;
    background-color: #33375a;
    border-radius: 3px;
}

#col-cd-al {
    bottom: 120px;
}

.text-xl-left {
    top: 120px;
}

#cd-sh-st {
    margin-left: 190px;
}

#clr-chg {
    background: gold !important;
}

.img-stl {
    max-width: 100%;
    height: auto;
}

.pb-8,
.py-8 {
    padding-bottom: 8rem !important;
}